@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
:root {
    /* Primary colors */
    --mainbgr-very-dark-blue: hsl(233, 47%, 7%);
    --cardbgr-dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-volet: hsl(277, 64%, 61%);
    /*Neutral colors */
    --main-heading-white: hsl(0, 0%, 100%);
    --mainp-slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --stats-heading-slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

* {
    box-sizing: border-box;
}


/* Body css */

body {
    background-color: var(--mainbgr-very-dark-blue);
    font-size: 15px;
    margin: 100px;
}


/* Wrapper is the main card */

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--cardbgr-dark-desaturated-blue);
    color: hsl(0, 0%, 100%);
    width: 1440px;
    height: 400px;
    border-radius: 10px;
}


/* Div with class="Image" inside wrapper */

.image {
    flex-direction: flex-end;
    background-image: url(./images/image-header-desktop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: var(--soft-volet);
    margin: auto;
    width: 400px;
    height: 400px;
}


/* class main-heading */

.main-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: auto;
}


/* Purple word Insights */

.violet {
    color: var(--soft-volet);
    font-family: 'Lexend Deca', sans-serif;
}


/* class main-paragraph */

.main-paragraph {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--mainp-slightly-transparent-white);
    margin: auto;
}


/* class stats */

.stats {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: auto;
}

.span-stats {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--stats-heading-slightly-transparent-white);
}


/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}