/* Body css */
body {
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin: 100px;
}
/* Wrapper is the main card */
.wrapper {
    display: grid;
    height: 500px;
    width: 1440px;   
    grid-template-columns: 100px 200px;  
    grid-template-rows: 100px 200px 1fr;
    grid-template-areas: "heading          .      image "
                           "main-paragraph .      ."
                           "stats          stats  stats"  ;
    
    background-color: hsl(244, 38%, 16%);
    color: hsl(0, 0%, 100%);       
    border-radius: 10px;
}



/* class main-heading */
.main-heading {
    grid-area: heading;
    width: 400px;
    padding: 50px;
}
.image {
    grid-area: image;
    align-items:flex-start;
    background-image: url(./images/image-header-desktop.jpg);    
    background-size:contain;
    background-repeat: no-repeat;
    background-color:hsl(277, 64%, 61%) ;
    background-blend-mode: darken;
    margin: auto;
    width: 600px;
    height: 450px;
    
}
/* Purple word Insights */
.span-header {
    color: hsl(277, 64%, 61%);
    font-family: 'Lexend Deca', sans-serif;
}

/* class main-paragraph */
.main-paragraph {
    grid-area: main-paragraph;
    color: hsla(0, 0%, 100%, 0.75);
    width: 400px;
    padding: 50px;
}

/* class stats */
.stats {
    grid-area: stats;
    display: inline;
    padding: 20px;
    margin: 20px;
    
}

.span-p {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
}



/* Footer */
.attribution {
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
