/* Body css */
body {
    background-color: hsl(233, 47%, 7%);
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
}
/* Wrapper is the main card */
.wrapper {
    background-color: hsl(244, 38%, 16%);
    color: hsl(0, 0%, 100%);
}

/* class main-heading */

/* Purple word Insights */
span {
    color: hsl(277, 64%, 61%);
}

/* class main-paragraph */

/* class stats */



/* Footer */
.attribution {
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
